--
-- PostgreSQL database dump
--

\restrict 0p4MhsyFCeaRn9sdXxqLi5SsJskmpKcyb6Oae0Nubr0Ar4AkHO1FE4gSabqJsQN

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: estado; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado AS ENUM (
    'activa',
    'anulada'
);


ALTER TYPE public.estado OWNER TO postgres;

--
-- Name: anular_factura_restaura_stock(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.anular_factura_restaura_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF (NEW.estado = 'anulada' OR NEW.estado = 'anulado') AND OLD.estado <> NEW.estado THEN

    -- Restaurar stock de todos los productos de la factura

    UPDATE producto p

    SET cantidad_prod = cantidad_prod + lp.cantidad

    FROM lista_prod lp

    WHERE lp.id_fact = NEW.id_fact AND p.id_producto = lp.id_producto;



    -- Marcar productos como anulados en lista_prod (si la columna existe)

    BEGIN

      UPDATE lista_prod

      SET estado = 'anulada'

      WHERE id_fact = NEW.id_fact;

    EXCEPTION WHEN undefined_column THEN

      -- Si la columna no existe, no hacer nada

      NULL;

    END;

  END IF;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.anular_factura_restaura_stock() OWNER TO postgres;

--
-- Name: devolver_producto_stock(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.devolver_producto_stock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE producto

  SET cantidad_prod = cantidad_prod + (

    SELECT cantidad FROM lista_prod WHERE id_lista = NEW.id_lista

  )

  WHERE id_producto = NEW.id_prod;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.devolver_producto_stock() OWNER TO postgres;

--
-- Name: restar_cantidad_producto(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.restar_cantidad_producto() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE producto

  SET cantidad_prod = cantidad_prod - NEW.cantidad

  WHERE id_producto = NEW.id_producto;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.restar_cantidad_producto() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ciudad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ciudad (
    id_ciudad integer NOT NULL,
    nombre_ciudad character varying,
    id_depart integer NOT NULL
);


ALTER TABLE public.ciudad OWNER TO postgres;

--
-- Name: ciudad_id_ciudad_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ciudad ALTER COLUMN id_ciudad ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ciudad_id_ciudad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente (
    id_cliente integer NOT NULL,
    cedula integer DEFAULT '222222222222'::bigint NOT NULL,
    nombre_cl character varying DEFAULT 'cliente final'::character varying NOT NULL,
    celular integer DEFAULT 1234567890,
    correo character varying DEFAULT 'correo@correo.com'::character varying,
    id_pais integer DEFAULT 1 NOT NULL,
    id_depart integer NOT NULL,
    id_ciudad integer NOT NULL
);


ALTER TABLE public.cliente OWNER TO postgres;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cliente ALTER COLUMN id_cliente ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cliente_id_cliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: departamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departamento (
    id_depart integer NOT NULL,
    nombre_depart character varying,
    id_pais integer NOT NULL
);


ALTER TABLE public.departamento OWNER TO postgres;

--
-- Name: departamento_id_depart_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.departamento ALTER COLUMN id_depart ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.departamento_id_depart_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: devoluciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devoluciones (
    id_devol integer NOT NULL,
    id_fact integer NOT NULL,
    id_lista integer NOT NULL,
    id_prod integer NOT NULL,
    motivo character varying(100) NOT NULL
);


ALTER TABLE public.devoluciones OWNER TO postgres;

--
-- Name: devoluciones_id_devol_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.devoluciones ALTER COLUMN id_devol ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.devoluciones_id_devol_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: factura; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.factura (
    id_fact integer NOT NULL,
    num_fact integer NOT NULL,
    prefijo_fact character varying DEFAULT 'FACT'::character varying NOT NULL,
    id_trab integer NOT NULL,
    cliente integer NOT NULL,
    estado character varying DEFAULT 'activa'::character varying NOT NULL,
    fecha_factura timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.factura OWNER TO postgres;

--
-- Name: factura_id_fact_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.factura ALTER COLUMN id_fact ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.factura_id_fact_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lista_prod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lista_prod (
    id_lista integer NOT NULL,
    id_fact integer NOT NULL,
    id_producto integer NOT NULL,
    cantidad numeric(20,2) DEFAULT 1 NOT NULL,
    estado character varying DEFAULT 'activa'::character varying NOT NULL,
    fecha_producto timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.lista_prod OWNER TO postgres;

--
-- Name: lista_prod_id_lista_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lista_prod ALTER COLUMN id_lista ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lista_prod_id_lista_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: pais; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pais (
    id_pais integer NOT NULL,
    nombre_pais character varying NOT NULL
);


ALTER TABLE public.pais OWNER TO postgres;

--
-- Name: pais_id_pais_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pais ALTER COLUMN id_pais ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pais_id_pais_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: producto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producto (
    id_producto integer NOT NULL,
    barcode integer NOT NULL,
    nombre_prod character varying NOT NULL,
    cantidad_prod numeric(20,2) DEFAULT 0 NOT NULL,
    precio_costop numeric(20,2) DEFAULT 1 NOT NULL,
    precio_ventap numeric(20,2) DEFAULT 1 NOT NULL,
    imagen_url character varying(255)
);


ALTER TABLE public.producto OWNER TO postgres;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.producto ALTER COLUMN id_producto ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.producto_id_producto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: trabajadores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trabajadores (
    id_trab integer NOT NULL,
    cedula integer NOT NULL,
    nombre character varying NOT NULL,
    apellido character varying NOT NULL,
    id_pais integer NOT NULL,
    id_depart integer NOT NULL,
    id_ciudad integer NOT NULL,
    cargo character varying NOT NULL,
    "contrase├▒a" text NOT NULL
);


ALTER TABLE public.trabajadores OWNER TO postgres;

--
-- Name: trabajadores_id_trab_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trabajadores ALTER COLUMN id_trab ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trabajadores_id_trab_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vista_listado_facturas; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_listado_facturas AS
 SELECT f.id_fact,
    f.num_fact AS consecutivo,
    f.prefijo_fact AS prefijo,
    c.nombre_cl AS nombre_cliente,
    t.nombre AS atendido_por,
    f.estado,
    f.fecha_factura,
    f.created_at,
    ( SELECT string_agg(((((p.nombre_prod)::text || ' ('::text) || lp.cantidad) || ')'::text), ', '::text ORDER BY p.nombre_prod) AS string_agg
           FROM (public.lista_prod lp
             JOIN public.producto p ON ((lp.id_producto = p.id_producto)))
          WHERE (lp.id_fact = f.id_fact)) AS productos,
    ( SELECT sum((lp.cantidad * p.precio_ventap)) AS sum
           FROM (public.lista_prod lp
             JOIN public.producto p ON ((lp.id_producto = p.id_producto)))
          WHERE (lp.id_fact = f.id_fact)) AS total_factura
   FROM ((public.factura f
     JOIN public.cliente c ON ((f.cliente = c.id_cliente)))
     JOIN public.trabajadores t ON ((f.id_trab = t.id_trab)));


ALTER VIEW public.vista_listado_facturas OWNER TO postgres;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Data for Name: ciudad; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cliente (id_cliente, cedula, nombre_cl, celular, correo, id_pais, id_depart, id_ciudad) FROM stdin;
1	10	pepito	1234567890	correo@correo.com	1	5	2
2	22222222	Cliente Final	1234567890	correo@correo.com	1	50	44
\.


--
-- Data for Name: departamento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departamento (id_depart, nombre_depart, id_pais) FROM stdin;
5	antioquia	1
8	atl├íntico	1
11	bogot├í, d.c.	1
13	bol├¡var	1
15	boyac├í	1
17	caldas	1
18	caquet├í	1
19	cauca	1
20	cesar	1
23	c├│rdoba	1
25	cundinamarca	1
27	choc├│	1
41	huila	1
44	la guajira	1
47	magdalena	1
50	meta	1
52	nari├▒o	1
54	norte de santander	1
63	quind├¡o	1
66	risaralda	1
68	santander	1
70	sucre	1
73	tolima	1
76	valle del cauca	1
81	arauca	1
85	casanare	1
86	putumayo	1
88	archipi├®lago de san andr├®s	1
91	amazonia	1
94	guain├¡a	1
95	guaviare	1
97	vaup├®s	1
99	vichada	1
\.


--
-- Data for Name: devoluciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devoluciones (id_devol, id_fact, id_lista, id_prod, motivo) FROM stdin;
\.


--
-- Data for Name: factura; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.factura (id_fact, num_fact, prefijo_fact, id_trab, cliente, estado, fecha_factura, created_at, updated_at) FROM stdin;
6	1	FACT	1	1	activa	2025-10-23 17:09:36	2025-10-23 17:09:36	2025-10-23 17:09:36
\.


--
-- Data for Name: lista_prod; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lista_prod (id_lista, id_fact, id_producto, cantidad, estado, fecha_producto, created_at, updated_at) FROM stdin;
13	6	2	2.00	activa	2025-10-23 17:09:36	2025-10-23 17:09:36	2025-10-23 17:09:36
14	6	3	3.00	activa	2025-10-23 17:09:36	2025-10-23 17:09:36	2025-10-23 17:09:36
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pais; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pais (id_pais, nombre_pais) FROM stdin;
1	colombia
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.producto (id_producto, barcode, nombre_prod, cantidad_prod, precio_costop, precio_ventap, imagen_url) FROM stdin;
2	1	prueba2	-1.00	1.00	2.00	uploads/productos/prod_68faa77c15844_7707203350071-2.png
3	44	vino	-1.00	20.00	30.00	uploads/productos/prod_68faa78c9454a_prueba.png
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: trabajadores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trabajadores (id_trab, cedula, nombre, apellido, id_pais, id_depart, id_ciudad, cargo, "contrase├▒a") FROM stdin;
1	1234567890	ceo	admin	1	50	45	ceo	3203272369c
2	2	prueba	prueba	1	5	4	peluquero	1234
\.


--
-- Name: ciudad_id_ciudad_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ciudad_id_ciudad_seq', 1, false);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cliente_id_cliente_seq', 2, true);


--
-- Name: departamento_id_depart_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departamento_id_depart_seq', 1, false);


--
-- Name: devoluciones_id_devol_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devoluciones_id_devol_seq', 1, false);


--
-- Name: factura_id_fact_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.factura_id_fact_seq', 6, true);


--
-- Name: lista_prod_id_lista_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lista_prod_id_lista_seq', 14, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 28, true);


--
-- Name: pais_id_pais_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pais_id_pais_seq', 1, true);


--
-- Name: producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_id_producto_seq', 3, true);


--
-- Name: trabajadores_id_trab_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trabajadores_id_trab_seq', 2, true);


--
-- Name: ciudad ciudad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_pkey PRIMARY KEY (id_ciudad);


--
-- Name: cliente cliente_cedula_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_cedula_key UNIQUE (cedula);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: departamento departamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT departamento_pkey PRIMARY KEY (id_depart);


--
-- Name: devoluciones devoluciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_pkey PRIMARY KEY (id_devol);


--
-- Name: factura factura_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT factura_pkey PRIMARY KEY (id_fact);


--
-- Name: lista_prod lista_prod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lista_prod
    ADD CONSTRAINT lista_prod_pkey PRIMARY KEY (id_lista);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: pais pais_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pais
    ADD CONSTRAINT pais_pkey PRIMARY KEY (id_pais);


--
-- Name: producto producto_barcode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_barcode_key UNIQUE (barcode);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: trabajadores trabajadores_cedula_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_cedula_key UNIQUE (cedula);


--
-- Name: trabajadores trabajadores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_pkey PRIMARY KEY (id_trab);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: factura trg_anular_factura_restaura_stock; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_anular_factura_restaura_stock AFTER UPDATE OF estado ON public.factura FOR EACH ROW EXECUTE FUNCTION public.anular_factura_restaura_stock();


--
-- Name: devoluciones trg_devolver_producto_stock; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_devolver_producto_stock AFTER INSERT ON public.devoluciones FOR EACH ROW EXECUTE FUNCTION public.devolver_producto_stock();


--
-- Name: lista_prod trg_restar_cantidad_producto; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_restar_cantidad_producto AFTER INSERT ON public.lista_prod FOR EACH ROW EXECUTE FUNCTION public.restar_cantidad_producto();


--
-- Name: ciudad ciudad_id_depart_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_id_depart_fkey FOREIGN KEY (id_depart) REFERENCES public.departamento(id_depart);


--
-- Name: cliente cliente_id_ciudad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_id_ciudad_fkey FOREIGN KEY (id_ciudad) REFERENCES public.ciudad(id_ciudad);


--
-- Name: cliente cliente_id_depart_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_id_depart_fkey FOREIGN KEY (id_depart) REFERENCES public.departamento(id_depart);


--
-- Name: cliente cliente_id_pais_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_id_pais_fkey FOREIGN KEY (id_pais) REFERENCES public.pais(id_pais);


--
-- Name: departamento departamento_id_pais_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT departamento_id_pais_fkey FOREIGN KEY (id_pais) REFERENCES public.pais(id_pais);


--
-- Name: devoluciones devoluciones_id_fact_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_id_fact_fkey FOREIGN KEY (id_fact) REFERENCES public.factura(id_fact);


--
-- Name: devoluciones devoluciones_id_lista_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_id_lista_fkey FOREIGN KEY (id_lista) REFERENCES public.lista_prod(id_lista);


--
-- Name: devoluciones devoluciones_id_prod_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devoluciones
    ADD CONSTRAINT devoluciones_id_prod_fkey FOREIGN KEY (id_prod) REFERENCES public.producto(id_producto);


--
-- Name: factura factura_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT factura_cliente_fkey FOREIGN KEY (cliente) REFERENCES public.cliente(id_cliente);


--
-- Name: factura factura_id_trab_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT factura_id_trab_fkey FOREIGN KEY (id_trab) REFERENCES public.trabajadores(id_trab);


--
-- Name: lista_prod lista_prod_id_fact_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lista_prod
    ADD CONSTRAINT lista_prod_id_fact_fkey FOREIGN KEY (id_fact) REFERENCES public.factura(id_fact);


--
-- Name: lista_prod lista_prod_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lista_prod
    ADD CONSTRAINT lista_prod_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: trabajadores trabajadores_id_ciudad_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_id_ciudad_fkey FOREIGN KEY (id_ciudad) REFERENCES public.ciudad(id_ciudad);


--
-- Name: trabajadores trabajadores_id_depart_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_id_depart_fkey FOREIGN KEY (id_depart) REFERENCES public.departamento(id_depart);


--
-- Name: trabajadores trabajadores_id_pais_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trabajadores
    ADD CONSTRAINT trabajadores_id_pais_fkey FOREIGN KEY (id_pais) REFERENCES public.pais(id_pais);


--
-- Name: TABLE ciudad; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.ciudad TO caja;


--
-- Name: TABLE cliente; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.cliente TO caja;


--
-- Name: TABLE departamento; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.departamento TO caja;


--
-- Name: TABLE devoluciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.devoluciones TO caja;


--
-- Name: TABLE factura; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.factura TO caja;


--
-- Name: TABLE lista_prod; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.lista_prod TO caja;


--
-- Name: TABLE pais; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pais TO caja;


--
-- Name: TABLE producto; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.producto TO caja;


--
-- Name: TABLE trabajadores; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.trabajadores TO caja;


--
-- PostgreSQL database dump complete
--

\unrestrict 0p4MhsyFCeaRn9sdXxqLi5SsJskmpKcyb6Oae0Nubr0Ar4AkHO1FE4gSabqJsQN

